{% extends 'base.html' %}


{% block content %}

{{ xxx }}

<div class="container wrapper flex-grow-1">
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
    {% endfor %}
  {% endif %}
<h1 class="my-4">       
  Статусы   
</h1>
<a class="btn btn-primary mb-3" href="{% url 'statuses:status_create' %}">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% if statuses %}
    {% for status in statuses %}
    <tr>
      <td>{{ status.id }}</td>
      <td>{{ status.name }}</td>
      <td>{{ status.created_at }}</td>
      <td>
        <a href="{% url 'statuses:status_update' status.id %}">Изменить</a>
        <br>
        {% if status.statuses.count == 0 %}
          <a href="{% url 'statuses:status_delete' status.id %}">Удалить</a>
        {% else %}
          <a href="{% url 'statuses:status_delete_error' status.id %}">Удалить</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
{% endblock %}