{% extends 'base.html' %}

{% block content %}

<div class="container wrapper flex-grow-1">
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
    {% endfor %}
  {% endif %}
  <h1 class="my-4">
    Пользователи
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for person in users %}
      <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.username }}</td>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td>{{ person.created_at }}</td>
        <td>
          <a href="{% url 'users:user_update' person.id %}">Изменить</a>
          <br>
          {% if person.tasks_author.count == 0 and person.tasks_executor.count == 0 and person.id == user.id or user.is_anonymous %}
            <a href="{% url 'users:user_delete' person.id %}">Удалить</a>
          {% else %}
            <a href="{% url 'users:user_delete_template' person.id %}">Удалить</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  <table>
{% endblock %}