{% extends 'base.html' %}

{% block content %}
<div class="container wrapper flex-grow-1">
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
    {% endfor %}
  {% endif %}
  <h1 class="my-4">
    Пользователи
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a href="{% url 'users:user_update' user.id %}">Изменить</a>
          <br>
          <a href="{% url 'users:user_delete' user.id %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  <table>
{% endblock %}