{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container wrapper flex-grow-1">
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
      {% endif %}
    {% endfor %}
  {% endif %}
  <h1 class="my-4">
    {% trans 'Пользователи' %}
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans 'Имя пользователя' %}</th>
        <th>{% trans 'Полное имя' %}</th>
        <th>{% trans 'Дата создания' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for person in users %}
      <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.username }}</td>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td>{{ person.created_at }}</td>
        <td>
          <a href="{% url 'users:user_update' person.id %}">{% trans 'Изменить' %}</a>
          <br>
          <a href="{% url 'users:user_delete' person.id %}">{% trans 'Удалить' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  <table>
{% endblock %}